{% extends 'base.html' %}

{% block content %}
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form  method="GET" class="d-flex" role="search" action="{% url 'blog:blog' %}">
      <input class="form-control me-2" name="search" type="search" placeholder="Search... " aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
    {% for product in products %}

    <center>
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              {% if product.Image %}
                <img src="{{product.Image.url}}" style="width: 270px; height:230px;" alt="product">
              {% endif %}
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><h4>{{ product.ProductName }}<h4>
                <h5 class="card-title"><h5>{{ product.Category }}</h5>
                <p class="card-text"><h6>{{ product.ShortDescription }}</h6></p>
                <p class="card-text"><small>{{ product.Data }}</small></p>    
                <a class="btn btn-dark" href="{% url 'blog:BlogDetail' product.ProductName %}" role="button">more</a>
              </div>
            </div>
          </div>
        </div>
  </center>  
  
    
 
    {% endfor %}


{% endblock %}


{% block title %} Blog group{% endblock %}